@use 'styles/breakpoints';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/mixins';

.maint {
    @include mixins.main-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 100%;
    gap: 20px;
}
.maint__logo{
    height: auto;
    width: 80vw;
    max-width: 360px;
}
.maint__title {
    font-weight: fonts.$bold;
    font-size: fonts.$big-title;
    text-align: center;
}

.maint__subtitle {
    font-size: fonts.$subtitle;
    text-align: center;
}

.maint__gif{
    height: auto;
    width: 70vw;
    max-width: 300px;
}
