@import '../../../variables.scss';

.HeartPawBtn {
  position: relative;
}
.HeartPawBtn:active:after {
  box-shadow: 0 0 0 0 $main-color;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.HeartPawBtn:active {
  top: 1px;
}

.HeartPawBtn:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px $main-color;
}
