// fonts
$roboto: 'Roboto', sans-serif;
// weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
// font-sizes
$biggest-title: 40px;
$big-title: 30px;
$title: 25px;
$subtitle: 20px;
$small-subtitle: 16px;
$small-text: 14px;
$smaller-text: 12px;
$smallest-text: 10px;
$big-text: 18px;
$biggest-text: 22px;

.thin{
    font-weight: 100;
}
.light{
    font-weight: 300;
}
.regular{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}
.bold{
    font-weight: 700;
}
.black{
    font-weight: 900;
}




