@use 'styles/breakpoints';
@use 'styles/fonts';
@use 'styles/colors';

// mixin for main body of page
@mixin main-body {
    position: relative;
    padding-left: calc(((100vw - breakpoints.$desktop) / 2));
    padding-right: calc(((100vw - breakpoints.$desktop) / 2));

    @media screen and (max-width: breakpoints.$desktop) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@mixin hasFooter {
    padding-bottom: 250px;
}

@mixin hasHeader {
    padding-top: 150px;
}

@mixin svgToTextColor {
    filter: invert(22%) sepia(2%) saturate(2137%) hue-rotate(4deg) brightness(97%) contrast(84%);
}