@use 'styles/breakpoints';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/mixins';

.main-header {
    background-color: colors.$primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 0 20px;
        @media screen and (max-width: breakpoints.$mobile) {
            padding: 0 10px;
        }
        .main-nav__items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: breakpoints.$tablet;
            width: 100%;

            .main-nav__item {
                position: relative;
                height: 70px;
                padding: 5px;
                animation: 0.2s ease-out 0s 1 grow;

                @media screen and (max-width: breakpoints.$mobile) {
                    height: 60px;
                }

                .main-nav__link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    gap: 5px;
                    font-weight: fonts.$bold;

                    @media screen and (max-width: breakpoints.$mobile) {
                        font-size: fonts.$small-text;
                    }

                    &:hover {
                        color: colors.$secondary;
                        filter: invert(43%) sepia(52%) saturate(518%) hue-rotate(342deg) brightness(97%) contrast(97%);
                    }

                    &.active {
                        color: colors.$secondary;
                        filter: invert(43%) sepia(52%) saturate(518%) hue-rotate(342deg) brightness(97%) contrast(97%);
                    }

                    .main-nav__icon {
                        position: relative;
                        max-width: 40px;
                        height: 40px;

                        @media screen and (max-width: breakpoints.$mobile) {
                            max-width: 30px;
                            height: 30px;
                        }

                        @include mixins.svgToTextColor
                    }
                }

            }
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}