@use 'styles/breakpoints';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/animations';

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 0 20px;
        background-color: colors.$primary;

        @media screen and (max-width: breakpoints.$mobile) {
            padding: 0 10px;
        }

        .main-nav__items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: breakpoints.$tablet;
            width: 100%;

            .main-nav__item {
                position: relative;
                height: 70px;
                padding: 5px;
                animation: 0.2s ease-out 0s 1 grow;

                @media screen and (max-width: breakpoints.$mobile) {
                    height: 60px;
                }

                .main-nav__link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    gap: 5px;
                    font-weight: fonts.$bold;
                    font-size: fonts.$small-subtitle;
                    @media screen and (max-width: breakpoints.$mobile) {
                        font-size: fonts.$small-text;
                    }

                    &:hover {
                        color: colors.$secondary;
                        filter: invert(38%) sepia(77%) saturate(450%) hue-rotate(342deg) brightness(89%) contrast(81%);
                    }

                    &.active {
                        color: colors.$secondary;
                        filter: invert(38%) sepia(77%) saturate(450%) hue-rotate(342deg) brightness(89%) contrast(81%);
                    }

                    .main-nav__icon {
                        position: relative;
                        max-width: 40px;
                        height: 40px;

                        @media screen and (max-width: breakpoints.$mobile) {
                            max-width: 30px;
                            height: 30px;
                        }

                        @include mixins.svgToTextColor
                    }
                }

            }
        }
    }
}