@use 'styles/breakpoints';
@use 'styles/fonts';
@use 'styles/colors';
@use 'styles/mixins';

.subHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: colors.$secondary;
    animation: 0.2s ease-out 0s 1 grow;
    border-radius: 5px;

    .subHeader-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 20px;

        @media screen and (max-width: breakpoints.$mobile) {
            padding: 0 10px;
        }

        .subHeader-nav__items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: breakpoints.$tablet;

            .subHeader-nav__item {
                position: relative;
                height: 70px;
                padding: 5px;
                animation: 0.2s ease-out 0s 1 grow;

                @media screen and (max-width: breakpoints.$mobile) {
                    height: 60px;
                }

                .subHeader-nav__link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    gap: 5px;
                    font-weight: fonts.$bold;

                    @media screen and (max-width: breakpoints.$mobile) {
                        font-size: fonts.$small-text;
                    }

                    &:hover {
                        color: colors.$secondary;
                        filter: invert(49%) sepia(71%) saturate(388%) hue-rotate(68deg) brightness(102%) contrast(84%);
                    }

                    &.active {
                        color: colors.$secondary;
                        filter: invert(49%) sepia(71%) saturate(388%) hue-rotate(68deg) brightness(102%) contrast(84%);
                        box-shadow: 2px 2px 14px 0 rgba(0, 0, 0, 0.1);
                    }

                    .subHeader-nav__icon {
                        width: 30px;
                        height: 30px;

                        @media screen and (max-width: breakpoints.$mobile) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}