@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$base-color: white;
$main-color: #53a94c;
$secondary-color: #b36b39;
$text-color: #46433c;
$broken-white: #f5f5f5;
$title: 700;
$subtitle: 500;
$text: 400;
$light: 300;
$thin: 100;
